@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Libre+Baskerville:wght@400;700&family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto+Slab:wght@300;500&display=swap');

.App {
  text-align: center;
  background-color:#e6ccb2;
  min-height: 100vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading{
  color:#414833;
  font-size: 40px;
  font-family: 'Bangers', cursive;
}

.page-name{
  color:#414833;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.danger{
  color:red;
  margin-top:10px;
}

.success{
  color:green;
  margin-top:10px;
}
